<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Submit your info</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="number" name="age" placeholder="Enter your age">
        <input type="submit" value="Submit">
    </form>

    {% if name %}
        <h2>Hello, {{ name }}.</h2>
    {% endif %}

    {% if age %}
        <h2>You are {{ age }} years old.</h2>
    {% endif %}
</body>
</html>
